.leader-board-page {
  main {
    min-height: 100vh;
    text-align: center;
    background-color: #fff;
    .ant-table-wrapper {
      padding: 0 100px;

      .user-contain {
        display: flex;
        gap: 10px;
        align-items: center;
        .user-info {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
